* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #0e0e0e;
  color: #fff;
}

/* ===== HERO ===== */
.hero {
  min-height: 100vh;
  background: url("images/cover.jpg") center top / contain no-repeat;
  background-color: #000;
}


.hero-overlay {
  background: rgba(0,0,0,0.6);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo {
  width: 120px;
  margin-bottom: 15px;
}

.hero h1 {
  font-size: 42px;
  font-weight: 600;
  letter-spacing: 1px;
}


.hero p {
  margin-top: 6px;
  font-size: 14px;
  opacity: 0.85;
}


/* ===== MENU ===== */
.menu {
  padding-bottom: 40px;
}

.category {
  margin: 28px 12px;
  background: #151515;
  border-radius: 14px;
  overflow: hidden;
}

.category-img {
  width: 100%;
  height: auto;
  display: block;
}

.category {
  overflow: visible;
}




.category h2 {
  text-align: center;
  padding: 14px;
  font-size: 20px;
  color: #ffcc00;
}

.category ul {
  list-style: none;
  padding: 0 16px 16px;
}

.category ul li {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding: 10px 0;
  border-bottom: 1px dashed rgba(255,255,255,0.15);
}

.category ul li:last-child {
  border-bottom: none;
}

/* ===== NOTE ===== */
.menu-note {
  background: #111;
  color: #f5f5f5;
  padding: 18px 16px;
  margin: 30px 12px;
  border-radius: 12px;
}

.menu-note h3 {
  text-align: center;
  color: #ffcc00;
  margin-bottom: 12px;
}

.menu-note ul {
  list-style: none;
}

.menu-note ul li {
  font-size: 14px;
  line-height: 1.6;
  padding: 8px 0;
  border-bottom: 1px dashed rgba(255,255,255,0.15);
}

.menu-note ul li:last-child {
  border-bottom: none;
}
